// Colours
$white: #FFF;
$black: #000;
$off-white: #EEE;
$grey: #7d7d7d;
$light-grey: #CCC;
$dark-grey: #2B2B2B;
$primary-blue: #77FFEF;
$primary-green: #59E8B3;
$secondary-green: #6FFFA5;
$basic-green: #3DB532;
$light-green: #B9FFAB;
// Font
$font-brand-family: "Trirong",
"Josefin Slab",
"Times",
serif;
$font-serif-family: "Josefin Slab",
"Times",
serif;
$font-sans-family: "Source Sans Pro",
"Helvetica",
"sans-serif";
$font-brand-weight: "bold";